* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:not(textarea) {
    scrollbar-gutter: stable both-edges;
  }
  overflow-wrap: break-word;
  word-wrap: break-word;
}
legend,
fieldset {
  border: none;
}
