@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./css/index.css");

:root {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --bg-color: #ffffff;
  --text-color: #1c1c1e;
  --box-shadow: #cccdcd73;
  --input-bg: #f3f4f6;
}
